@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model StreamingService.Controllers.RoomController.RoomIM
@{
}
<form action="api/room" method="post">
    <input  asp-for="Name" />
    <button type="submit"> Aceptar </button>
    </form>
